.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
.imagen {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 8px;
}